* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  margin: 4% 15%;
}

h1 {
  padding-bottom: 40px;
  color: rgb(186, 19, 114);
}

section {
  width: calc(100% / 3);
  padding: 20px;
}

.section-memb {
  background-color: bisque;
}

img {
  width: 70px;
  height: 70px;
}

.info-member {
}

.float-left {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
