* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.container {
  margin: 3% 10%;
}

header {
  text-align: center;
}

h1 {
  color: rgb(191, 19, 116);
  padding-bottom: 40px;
}

.card {
  width: calc(100% / 3);
  padding: 15px;
  color: white;
}

.float-left {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.section-memb {
  background-color: #222222;
  box-shadow: 0 0 10px black;
}

.img-memb {
  width: 70px;
  height: 70px;
  margin-right: 12px;
}

.info-memb {
  padding: 8px;
  font-size: 12px;
  line-height: 18px;
}

a {
  text-decoration: none;
}
